@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: 'Geist Mono', monospace;

    --color-light-cyan: #066F9C;
    --color-cyan: #022636;
    --color-dark-blue: #11113F;
    --color-light: #FFFFFF;
    --color-dark: #000000;
    --color-dark-trans: rgba(42, 33, 25, 85%);
    --color-email-dark-blue: #0C0B16;
    --color-email-blue: #170576;
    --color-email-light-blue: #0030EE;
    --color-email-sky-blue: #5B9BF0;

    --color-bg-logo: rgba(42, 33, 25, 90%);
    --color-bg-button-header: rgba(168, 168, 168, 90%);
    --color-bg-card-contacts: rgba(98, 98, 98, 35%);
    --color-bg-main-content: #161302; /*marrom*/
    --color-gradient-email: linear-gradient(to right, #0C0B16, #170576);

    --color-hover-button-bg: #6F6F6F;
    --color-hover-button-text: #ffffff;

    --breakpoint-xs: 55rem;
    --breakpoint-ts: 65rem;
    --breakpoint-mobile: 27rem; /*432px*/
    --breakpoint-mobile-grid: 34rem; /*544px*/
    --breakpoint-tablet: 45rem; /*720px*/
    --breakpoint-tablet-wheel: 50rem; /*800px*/
    --breakpoint-desktop: 64rem; /*1024px*/
}

body {
    background: var(--color-cyan);
    /* font-size: var(--font-sans); */
}