@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: 'Geist Mono', monospace;

    --color-light-cyan: #066F9C;
    --color-cyan: #022636;
    --color-light: #FFFFFF;
    --color-dark: #000000;
    --color-dark-trans: rgba(42, 33, 25, 85%);

    --color-bg-logo: rgba(42, 33, 25, 90%);
    --color-bg-button-header: rgba(168, 168, 168, 90%);
    --color-bg-main-content: #161302;

    --breakpoint-xs: 55rem;

    --header-w: calc(100vw - )
}

body {
    background: var(--color-cyan);
    /* font-size: var(--font-sans); */
}